body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./BG_Karikatur.jpg") center center / cover no-repeat;
}

/*Navbar styling*/
#navbar {
  position: static;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
}

#navbar li {
  margin: 0 15px;
}

#navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 10px 15px;
  display: block;
}

#navbar a:hover {
  background-color: #555;
  border-radius: 5px;
}

/*comment.html*/
#img-container {
  display: flex;
  justify-content: center;
}

#comment-h1 {
  text-align: center;
  font-size: 75px;
  padding-top: 50px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

#comment {
  width: 50%;
  height: auto;
}

#name {
  width: 25%;
  height: 30px;
}

textarea {
  resize: none;
}

/*comment_section.html*/
#commentsSection {
  min-height: 100vh;
  align-items: center;
}

#guidelines {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Listenelemente */
#rule-list {
  list-style-type: none;
  padding: 0;
}

#rule-list li {
  padding: 10px 0;
  font-size: 1.2em;
  color: #555;
  text-align: left;
}

.comment-box {
  max-width: 800px;
  margin: 10px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.bg-info {
  background-color: #333 !important;
}

.btn-color {
  background-color: #333;
  color: white;
}

.btn-color:hover {
  background-color: #555;
  color: white;
}
